.tools {
    width: 100%;
    display: grid;
    align-items: center;
    padding: 15px 0 20px;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}

.dropperBtn {
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid darkgrey;
    background-color: #ffffff;
}

.dropperIcon {
    width: 20px;
    height: 20px;
}

.active {
    border-color: transparent;
    background-color: #e5e5e5;
}

.hexShow {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.color {
    width: 15px;
    height: 15px;
    border: 1px solid darkgrey;
}